<br>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input type="text" class="form-control" value=this.model.title}}
  </div>
  <div class="form-group">
    <label for="title">URL</label>
    {{input type="text" class="form-control" value=this.model.url id="basic-url"}}
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    {{input type="text" class="form-control" value=this.model.username}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    {{input type="text" class="form-control" value=this.model.password}}
  </div>
  <div class="form-group">
    <label for="notes">Notes</label>
    {{input type="text" class="form-control" value=this.model.notes}}
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    {{input type="text" class="form-control" value=this.model.tags}}
  </div>
  <button type="button" {{action "savePassword" this.model}} class="btn btn-primary">Save</button>
  <button type="button" {{action "cancel" this.model}} class="btn btn-secondary">Cancel</button>
  <button type="button" {{action "deletePassword" this.model}} class="btn btn-danger">Delete</button>
</form>
