{{!-- <h2>{{@title}}</h2> --}}
<form {{action "search" on="submit"}}>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="octicons octicon-search"></span>
        <div class="input-group-text" id="btnGroupAddon"><img src="assets/search.svg" alt="clipbard"></div>
      </div>
      {{input type="text" class="form-control" value=searchtext id="search" placeholder="Password Title" aria-label="Input group example" aria-describedby="btnGroupAddon"}}
      <div class="input-group-append">
        <span class="input-group-text"><img src="assets/arrow-down.svg" alt="clipbard"></span>
      </div>      
    </div>
  </div>
</form>

<div>    
  &nbsp;
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Username</th>
      <th scope="col">URL</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each @password as |p|}}  
      <tr>
        <td {{action "edit" p}} class="clickable">{{p.title}}</td>
        <td {{action "edit" p}} class="clickable">{{p.username}}</td>
        <td>
          <a href={{p.url}} target="_blank" rel="noopener">Go</a>
        </td>
        <td>
          {{#copy-button
            clipboardText=(action "getPassword" p)
            success=(action "onSuccess")
            title="copy to clipboard"
          }}
            <img src="assets/clippy.svg" alt="clipbard">
          {{/copy-button}}          
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>