<h2>{{@title}}</h2>

<ul>
  {{#each @password as |p|}}  
    <li>{{p.id}}</li>
    <li>{{p.title}}</li>
    <li>{{p.username}}</li>
    <li>{{p.password}}</li>
    <li>{{p.notes}}</li>
  {{/each}}
</ul>
