{{!-- <h2>{{@title}}</h2> --}}

<form {{action "search" on="submit"}}>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="glyphicon glyphicon-search"></span>
        <div class="input-group-text" id="btnGroupAddon">Search By</div>
      </div>
      {{input type="text" class="form-control" value=searchtext id="search" placeholder="Password Title" aria-label="Input group example" aria-describedby="btnGroupAddon"}}
    </div>
  </div>
</form>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Username</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    {{#each @password as |p|}}  
      <tr {{action "edit" p}}>
        <td>{{p.title}}</td>
        <td>{{p.username}}</td>
        <td>{{p.url}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>