<h2>{{@title}}</h2>

<ul class="list-group">
  {{#each @password as |p|}}  
    <a href="#" class="list-group-item list-group-item-action">Title: {{p.title}} Username: {{p.username}} Password: {{p.password}}</a> <button type="button" class="btn btn-primary" {{action "select" p}}>Edit</button>
  {{/each}}
</ul>
