<h2>{{@title}}</h2>

<ul>
  {{#each @password as |p|}}  
    <li>ID: {{p.id}}</li>
    <li>Title: {{p.title}}</li>
    <li>Username: {{p.username}}</li>
    <li>Password: {{p.password}}</li>
    <li>Notes: {{p.notes}}</li>
  {{/each}}
</ul>
