{{!-- <h2>{{@title}}</h2> --}}

<form {{action "search" on="submit"}}>
<div class="form-group">
<div class="input-group">
  <div class="input-group-prepend">
    <span class="glyphicon glyphicon-search"></span>
    <div class="input-group-text" id="btnGroupAddon">Search</div>
  </div>
  {{!-- <input name="searchtext" type="text" class="form-control" placeholder="Password Title" aria-label="Input group example" aria-describedby="btnGroupAddon"> --}}
  {{input type="text" class="form-control" value=searchtext id="search" placeholder="Password Title" aria-label="Input group example" aria-describedby="btnGroupAddon"}}
</div>
</div>
</form>

<br>

<ul class="list-group">
  {{#each @password as |p|}}  
    {{!-- <li class="list-group-item">{{p.title}}<PasswordsEditButton @password={{p}}/></li> --}}
    <a class="list-group-item list-group-item-action" {{action "edit" p}}>{{p.title}}</a>
  {{/each}}
</ul>
